* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f4f4f4;
    }

    header {
      background: #1ce442;
      padding: 25px;
      color: white;
      font-size: 42px;
      font-weight: bold;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: 30px;
      gap: 40px;
      flex-wrap: wrap; 
    }

    .container img {
      max-width: 800px;
      width: 100%;
      border-radius: 10px;
    }

    .form-container {
      background: white;
      padding: 25px;
      border-radius: 10px;
      min-width: 280px;
      max-width: 400px;
    }

    .form-container h2 {
      margin-bottom: 20px;
      color: #333;
    }

    .form-container label {
      display: block;
      margin: 10px 0 5px;
      font-weight: bold;

    }

    .form-container input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 15px;

    }

    .form-container button {
      width: 100%;
      background: #1ca038;
      color: white;
      padding: 12px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
    }

    .form-container button:hover {
      background: #148a2f;
    }

    /* Responsive design */
    @media (max-width: 900px) {
      .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .container img{
        display: none;
      }
    }
