<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
     <header>Crop Recommendation System</header>

  <div class="container">

    <img src="https://kj1bcdn.b-cdn.net/media/25217/farming.png" alt="Crops">

    <div class="form-container">
      <h2>Crop Recommendation</h2>
      <form action="/predict" method="post">
        <label for="nitrogen">Nitrogen:</label>
        <input type="number" id="nitrogen" name="nitrogen" placeholder="Enter Nitrogen value" required>

        <label for="phosphorus">Phosphorus:</label>
        <input type="number" id="phosphorus" name="phosphorus" placeholder="Enter Phosphorus value" required>

        <label for="potassium">Potassium:</label>
        <input type="number" id="potassium" name="potassium" placeholder="Enter Potassium value" required>

        <label for="temperature">Temperature (°C):</label>
        <input type="decimal" id="temperature" name="temperature" placeholder="Enter Temperature" required>

        <label for="humidity">Humidity (%):</label>
        <input type="decimal" id="humidity" name="humidity" placeholder="Enter Humidity" required>

        <label for="ph">pH:</label>
        <input type="decimal" id="ph" name="ph" placeholder="Enter pH value" required>

        <label for="rainfall">Rainfall:</label>
        <input type="decimal" id="rainfall" name="rainfall" placeholder="Enter Rainfall" required>

        <button type="submit">Predict the Crop</button>
      </form>
        {% if prediction_text %}
            <div class="result">
                <h3>Recommended Crop:</h3>
                <p>{{ prediction_text }}</p>
            </div>
        {% endif %}
    </div>
  </div>

</body>
</html>
